@keyframes autoplay6 {

  0% {
    margin-left: 100%;
  }
  20%{
    margin-left: 0%;
  }
  50%{
    margin-left: 0%;
  }
  90%{
    margin-left: -100%;
  }
  0% {
    margin-left: 100%;
  }
}

.slider-image {
  animation-name: autoplay6;
  animation-duration: 5s;
  animation-iteration-count: 1; 
}


.page404 h1{
  text-align: center;
  color: red;
  font-size: 200px;
  margin: 100px 0 0 0 ;
}
.page404 h3{
  text-align: center;
  font-size: 30px;
  margin: 0;
  letter-spacing: 7px;
}